<template>
  <ValidationObserver :ref="refId" v-if="formModelClean" @keyup.enter.native="submitForm">
    <template v-for="(field, i) in formConfig.fields">
      <textField v-if="field.type === 'text'"
        :name="field.model" :placeholderText="field.placeholderText" :model="formModel[field.model]"
        :rules="field.rules" :key="i" :labelText="field.labelText" :formId="refId" :maskPattern="field.maskPattern"
        :hideLabel="formConfig.hideLabels || false" :hideErrorText="formConfig.hideErrorTexts || false"
      />
      <passwordField v-if="field.type === 'password'"
        :name="field.model" :placeholderText="field.placeholderText" :model="formModel[field.model]"
        :rules="field.rules" :key="i" :labelText="field.labelText" :formId="refId"
        :hideLabel="formConfig.hideLabels || false" :hideErrorText="formConfig.hideErrorTexts || false"
      />
      <dateField v-if="field.type === 'datetime'"
       :name="field.model" :placeholderText="field.placeholderText" :model="formModel[field.model]"
       :rules="field.rules" :key="i" :labelText="field.labelText" :formId="refId"
       :hideLabel="formConfig.hideLabels || false" :hideErrorText="formConfig.hideErrorTexts || false"
      />
      <numberField v-if="field.type === 'number'"
                 :name="field.model" :placeholderText="field.placeholderText" :model="formModel[field.model]"
                 :rules="field.rules" :key="i" :labelText="field.labelText" :formId="refId"
                 :hideLabel="formConfig.hideLabels || false" :hideErrorText="formConfig.hideErrorTexts || false"
      />
    </template>
    <button class="btn btn-primary w-100" @click="submitForm" v-if="!formConfig.hideSubmit">Submit</button>
  </ValidationObserver>
</template>

<script>
  import eventBus from "@/plugins/eventBus";
  import { ValidationObserver } from "vee-validate";
  import Chance from "chance";
  import _get from "lodash.get";
  import _set from "lodash.set";

  // import our individual field components
  import textField from "./fields/text";
  import passwordField from "./fields/password";
  import dateField from "./fields/datetime";
  import numberField from "./fields/number";

  // import our rules script and create a chance instance for it's guuid function
  require("./rules.js");
  const chance = new Chance();

  export default {
    components: {
      ValidationObserver,
      textField,
      passwordField,
      dateField,
      numberField
    },
    props: {
      formConfig: {
        type: Object,
        default: function () {
          return {
            fields: [],
            hideLabels: false,
            hideErrorTexts: false,
            onValidated: null,
          };
        }
      },
    },
    data: function () {
      return {
        refId: chance.guid(),
        submitted: false,
        formModel: {},
        formModelClean: null,
      };
    },
    mounted: function () {
      this.prepFormModels();
      this.bindFieldChangeListener();
    },
    methods: {
      bindFieldChangeListener () {
        eventBus.$on("vuevee-field-value-change", (data) => {
          const { formId, model, value } = data;
          if (formId && formId === this.refId && model) {
            _set(this, `formModel['${model}']`, value);
          }
        });
      },
      prepFormModels () {
        const fields = _get(this, "formConfig.fields", []);
        const cleanModel = {};

        for (const field of fields) cleanModel[field.model] = _get(field, "default_value", null);
        this.formModel = JSON.parse(JSON.stringify(cleanModel));
        this.$nextTick(function () {
          this.formModelClean = JSON.parse(JSON.stringify(cleanModel));
        });
      },
      submitForm () {
        this.$refs[this.refId].validate().then(async success => {
          if (!success) return;

          const callback = _get(this, "formConfig.onValidated", null);
          if (callback) callback(this.formModel);
        });
      },
      clearForm () {
        this.formModel = JSON.parse(JSON.stringify(this.formModelClean));
        this.$nextTick(() => {
          this.$refs[this.refId].reset();
        });
      }
    },
  };
</script>
