<template>
  <div class="container-fluid p-0">
    <!-- Main Nav !-->
    <nav class="navbar navbar-dark navbar-expand-sm bg-dark text-white" v-if="!$store.state.currentProject">
        <select class="form-control w-auto" v-model="selectedProject" @change="loadProject">
          <option :value="null">Select a game project...</option>
          <option :value="game" v-for="(game, i) in projects">{{ game.replace("static/game_projects/", "") }}</option>
        </select>
        <button class="btn btn-primary ml-2">New Game Project</button>
    </nav>

    <!-- Project View Nav !-->
    <nav class="navbar navbar-dark navbar-expand-sm bg-dark text-white" v-if="$store.state.currentProject">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Project
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" @click="closeProject">Close</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Maps
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2" v-if="!$route.path.includes('/map')">
            <nuxt-link class="dropdown-item" :to="`/map?name=${cleanSceneName(scene)}`"
             v-for="(scene, i) in $store.state.currentProject.scenes"
            :key="i">{{ cleanSceneName(scene) }}</nuxt-link>
          </div>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2" v-if="$route.path.includes('/map')">
            <a class="dropdown-item" href="#" @click="saveMap">Save</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" @click="closeMap">Close</a>
          </div>
        </li>
      </ul>
    </nav>
    <Nuxt />
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        selectedProject: null,
        projects: [],
      }
    },
    async mounted () {
      this.projects = await this.getProjects();
    },
    methods: {
      async saveMap () {
        this.$nuxt.$emit("save-map");
      },
      async closeMap () {
        this.$nuxt.$emit("close-map");
      },
      async loadProject () {
        if (this.selectedProject)
          await this.$store.dispatch("loadProject", this.selectedProject.split("/").pop());
      },
      async closeProject () {
        if(confirm("Are you sure you want to close this project? Unsaved changes will be lost.")) {
          this.selectedProject = null;
          await this.$store.dispatch("unLoadProject");
          this.$router.push("/");
        }
      },
      async getProjects () {
        const httpResponse = await this.$axios({
          method: 'post',
          url: '/api/glob',
          data: {
            dirPath: "static/game_projects",
            fileExt: ""
          }
        });
        return httpResponse.data;
      },
      cleanSceneName (scenePath) {
        return scenePath.replace(`static/game_projects/${this.$store.state.currentProject.name}/scenes/`, "").trim();
      }
    }
  };
</script>

<style>
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background:  linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(150,150,150,1) 100%) fixed;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
</style>

<style scoped>
  .bg-dark {
    background-color: #222222 !important;
  }
</style>
