<template>
  <div>
    <div id="appWindow"/>
<!--    <img src="../static/objects/player/sprites/walking.webp" />-->
  </div>
</template>

<script>
  import GameEngine from "~/static/engine.js";
  import _get from "lodash.get";
  import { name as gameName } from "~/package.json";

  export default {
    head () {
      return {
        titleTemplate: `${gameName} [${_get(this, "gameEngine.scene.config.title", "")}]`
      }
    },
    data: function () {
      return {
        gameEngine: null,
      };
    },
    methods: {
      scaleAppWindow: function () {
        const appWindow = document.getElementById("appWindow");
        const w = Math.floor((window.innerWidth + .9) / 10) * 10;
        const h = Math.floor((window.innerHeight + .9) / 10) * 10;

        if (w > h) {
          appWindow.style.width = h + "px";
          appWindow.style.height = h + "px";
          if (this.gameEngine) {
            this.gameEngine.scene.layers.forEach(layer => {
              layer.ele.width = h;
              layer.ele.height = h;
            });
          }
        }
        else if (w < h) {
          appWindow.style.height = w + "px";
          appWindow.style.width = w + "px";
          if (this.gameEngine) {
            this.gameEngine.scene.layers.forEach(layer => {
              layer.ele.width = w;
              layer.ele.height = w;
            });
          }
        }
      }
    },
    mounted () {
      this.$nextTick(() => {
        window.onresize = this.scaleAppWindow;
        this.scaleAppWindow();
        this.gameEngine = new GameEngine({
          appWindowId: "appWindow",
          showGrid: false
        });
      });
    }
  }
</script>

<style>
  body {
    background-color: #000000;
    background: rgb(67,67,67);
    background: -moz-linear-gradient(180deg, rgba(67,67,67,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(67,67,67,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(67,67,67,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#434343",endColorstr="#000000",GradientType=1);
  }

  #appWindow {
    position: relative;
    top: 0;
    left: 0;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    margin: auto auto;
  }

  .canvas-layer {
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
