<template>
  <div class="form-group">
    <ValidationProvider :name="name" v-slot="{ errors }" :rules="rules" :ref="ValProviderRefId">
      <datetime type="datetime" :use12-hour="true" :ref="PluginRefId" v-model="computedModel" :class="{'nested-input-error': errors.length}" :placeholder="placeholderText">
        <label v-if="!hideLabel" slot="before">{{ labelText }}</label>
        <span slot="after" class="input-invalid-message pl-3 text-danger" v-show="errors.length" v-if="!hideErrorText">{{ errors[0] }}</span>
      </datetime>
    </ValidationProvider>
  </div>
</template>

<script>
  import { ValidationProvider } from "vee-validate";
  import eventBus from "@/plugins/eventBus";
  import { Datetime } from "vue-datetime";
  import "vue-datetime/dist/vue-datetime.css";

  import Chance from 'chance'
  const chance = new Chance();

  export default {
    components: {
      ValidationProvider,
      Datetime
    },
    props: {
      name: {
        type: String,
        required: true
      },
      model: {
        required: true
      },
      labelText: {
        type: String,
        default: ""
      },
      placeholderText: {
        type: String,
        default: ""
      },
      rules: {
        type: String,
        default: ""
      },
      hideLabel: {
        type: Boolean,
        default: false
      },
      hideErrorText: {
        type: Boolean,
        default: false
      },
      formId: {
        type: String,
        required: true
      },
    },
    data: function () {
      return {
        ValProviderRefId: chance.guid(),
        PluginRefId: chance.guid(),
        submitted: false,
        formModel: {},
        formModelClean: null,
      };
    },
    mounted () {
      // this formats the date/time plugin component and resets field validation as it's triggered on init
      const ele = this.$refs[this.PluginRefId].$el;
      ele.querySelector("input").classList.add("form-control");
      this.$refs[this.ValProviderRefId].reset();
    },
    computed: {
      computedModel: {
        get: function () {
          return this.model;
        },
        set: function (newValue) {
          eventBus.$emit("vuevee-field-value-change", {
            formId: this.formId,
            model: this.name,
            value: newValue
          });
        }
      }
    },
  };
</script>
