<template>
  <div class="form-group">
    <ValidationProvider :name="name" v-slot="{ errors }" :rules="rules">
      <label v-if="!hideLabel">{{ labelText }}</label>
      <input type="number" class="form-control" :class="{'input-error': errors.length}" v-model="computedModel" :placeholder="placeholderText" />
      <span class="input-invalid-message pl-3 text-danger" v-show="errors.length" v-if="!hideErrorText">{{ errors[0] }}</span>
    </ValidationProvider>
  </div>
</template>

<script>
  import { ValidationProvider } from "vee-validate";
  import eventBus from "@/plugins/eventBus";

  export default {
    components: {
      ValidationProvider
    },
    props: {
      name: {
        type: String,
        required: true
      },
      model: {
        required: true
      },
      labelText: {
        type: String,
        default: ""
      },
      placeholderText: {
        type: String,
        default: ""
      },
      rules: {
        type: String,
        default: ""
      },
      hideLabel: {
        type: Boolean,
        default: false
      },
      hideErrorText: {
        type: Boolean,
        default: false
      },
      formId: {
        type: String,
        required: true
      },
    },
    computed: {
      computedModel: {
        get: function () {
          return this.model;
        },
        set: function (newValue) {
          eventBus.$emit("vuevee-field-value-change", {
            formId: this.formId,
            model: this.name,
            value: newValue
          });
        }
      }
    },
  };
</script>
