<template>
  <div class="row m-0 p-0">
    <div class="m-0 p-0 overflow-auto" id="canvas_container" :class="{'col-8': !wideView, 'col-1': wideView}">
      <canvas id="map_canvas_buffer" class="canvas-layer"
        @mousedown="mapMouseDown"
        @mouseup="mapMouseUp" @mouseleave="mapMouseUp"
        @mousemove="mapMouseMove"
      />
    </div>
    <div class="m-0 p-0" :class="{'col-4': !wideView, 'col-11': wideView}">
      <div class="row m-0 p-0">
        <div class="col-6 p-1 m-0 font-weight-bold">
          Width:
          <input type="number" class="form-control w-50 d-inline" v-model="mapData.cellWidth" @change="resizeMap"/>
        </div>
        <div class="col-6 p-1 m-0 font-weight-bold">
          Height:
          <input type="number" class="form-control w-50 d-inline" v-model="mapData.cellHeight" @change="resizeMap"/>
        </div>
      </div>
      <div class="row m-0 p-0">
        <div class="col-5 p-1 m-0">
          <select class="form-control" v-model="selectedLayer" @change="layerChanged">
            <option v-for="(layer, i) in mapData.layers" :value="i" :key="i">Layer {{ i }}</option>
          </select>
        </div>
        <div class="col-7 p-1 m-0">
          <button class="btn btn-primary mx-1" @click="addLayer">New Layer</button>
          <button class="btn btn-primary mx-1" @click="deleteLayer">Delete Layer</button>
        </div>
      </div>
      <div class="row m-0 p-0">
        <div class="col-12 p-1 m-0">
          <button class="btn btn-primary w-100" @click="wideView = !wideView">Toggle Wide View</button>
        </div>
      </div>
      <div class="row p-0 m-0">
        <div class="col-12 p-1 m-0">
          <!-- Map Tabs Header !-->
          <ul class="nav nav-tabs bg-dark">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tilesPane" @click="changeTabMode('tiles')">Tiles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#pathsPane" @click="changeTabMode('paths')">Paths</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#objectsPane" @click="changeTabMode('objects')">Objects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#settingsPane" @click="changeTabMode('settings')">Settings</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane container-fluid active m-0 p-0" id="tilesPane">
              <div class="row m-0 p-0">
                <div class="col-4 p-1 m-0">
                  <label class="m-2">Erase Mode: <input type="checkbox" v-model="eraseMode"/></label>
                </div>
                <div class="col-8 p-1 m-0">
                  <select class="form-control" v-model="brushSize">
                    <option :value="0">Tile Size 1x1</option>
                    <option :value="1">Tile Size: 3x3</option>
                    <option :value="2">Tile Size: 5x5</option>
                  </select>
                </div>
              </div>
              <div class="row m-0 p-0">
                <div class="col-12 p-1 m-0">
                  <select class="form-control" v-model="selectedTileset" @change="loadTileset">
                    <option :value="null" disabled>Select a tileset...</option>
                    <option :value="tileset" v-for="(tileset, i) in tilesets">{{ tileset.replace("static/tilesets/", "").split(".")[0] }}</option>
                  </select>
                </div>
              </div>
              <div class="row m-0 p-0 overflow-auto" id="tile_set_container">
                <div class="col-12 p-0 m-0">
                  <canvas id="tile_set" class="canvas-layer" />
                  <canvas id="tile_set_mask" class="canvas-layer" @click="selectTile"/>
                </div>
              </div>
            </div>
            <div class="tab-pane container-fluid fade m-0 p-1" id="pathsPane">
              <select class="form-control mb-1" v-model="brushSizePath">
                <option :value="0">Tile Size 1x1</option>
                <option :value="1">Tile Size: 3x3</option>
                <option :value="2">Tile Size: 5x5</option>
              </select>
              <select class="form-control" v-model="pathType">
                <option value="">Clear</option>
                <option value="solid">Solid</option>
                <option value="cover">Cover</option>
              </select>
            </div>
            <div class="tab-pane container-fluid fade m-0 p-0" id="objectsPane">...</div>
            <div class="tab-pane container-fluid fade m-0 p-0" id="settingsPane">...</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        mapData: {},
        selectedTileset: null,
        tilesets: [],
        currentTileset: null,
        mapPath: null,
        layers: [],
        selectedLayer: 0,
        tileMode: false,
        eraseMode: false,
        brushSize: 0,
        tabMode: "tiles",
        selectedPathState: null,
        brushSizePath: 0,
        pathType: "",
        wideView: false
      }
    },
    mounted () {
      const vueInstance = this;
      this.$nextTick().then(async function () {
        vueInstance.$data.mapPath = `game_projects/${vueInstance.$store.state.currentProject.name}/scenes/${vueInstance.$route.query.name}`;
        vueInstance.$data.tilesets = await vueInstance.getTilesets();
        vueInstance.$data.mapData = await vueInstance.loadMapData();
        vueInstance.loadMap();

        vueInstance.$nuxt.$on("save-map", vueInstance.saveMap);
        vueInstance.$nuxt.$on("close-map", vueInstance.closeMap);
      });
    },
    beforeDestroy(){
      this.$nuxt.$off('save-map');
      this.$nuxt.$off('close-map');
    },
    methods: {
      layerChanged () {
        switch (this.tabMode) {
          case "paths":
            this.showPathingOnBuffer();
            break;
        }
      },
      mapMouseDown (event) {
        this.tilingOn(event);

        switch (this.tabMode) {
          case "tiles":
            this.applyTile(event);
            break;

          case "paths":
            this.applyPath(event);
            break;
        }
      },
      mapMouseUp () {
        this.tilingOff();
      },
      mapMouseMove (event) {
        switch (this.tabMode) {
          case "tiles":
            this.applyTile(event);
            break;

          case "paths":
            this.applyPath(event);
            break;
        }
      },
      changeTabMode (value) {
        this.tabMode = value;
        this.clearBuffer();

        switch (value) {
          case "tiles":
            break;
          case "paths":
            this.showPathingOnBuffer();
            break;
          case "objects":
            break;
        }
      },
      tilingOn (event) {
        this.$data.tileMode = true;
      },
      tilingOff () {
        this.$data.tileMode = false;
      },
      async getTilesets () {
        const httpResponse = await this.$axios({
          method: 'post',
          url: '/api/glob',
          data: {
            dirPath: "static/tilesets",
            fileExt: ""
          }
        });
        return httpResponse.data;
      },
      async loadMapData () {
        const httpResponse = await this.$axios({
          method: 'post',
          url: '/api/read_file',
          data: {
            filePath: `static/${this.mapPath}/data.json`,
          }
        });

        return JSON.parse(httpResponse.data);
      },
      sizeMapLayers () {
        // size the row container
        const contEle = document.getElementById("canvas_container");
        contEle.style.height = "736px";

        // get the buffer element and size it
        const bufferEle = document.getElementById("map_canvas_buffer");
        const bufferCtx = bufferEle.getContext("2d");
        bufferEle.style.width = this.mapData.cellWidth * 32 + "px";
        bufferEle.style.height = this.mapData.cellHeight * 32 + "px";

        // size the canvas elements
        const eles = contEle.getElementsByTagName("canvas");
        for (let ele of eles) {
          bufferCtx.clearRect(0, 0, bufferEle.width, bufferEle.height);

          const layerCtx = ele.getContext('2d');
          bufferCtx.drawImage(ele, 0, 0);

          ele.style.width = this.mapData.cellWidth * 32 + "px";
          ele.style.height = this.mapData.cellHeight * 32 + "px";
          ele.width = this.mapData.cellWidth * 32;
          ele.height = this.mapData.cellHeight * 32;

          layerCtx.drawImage(bufferEle, 0, 0);
        }
      },
      resizeMap () {
        for(const layer of this.mapData.layers) {
          const tileCount = this.mapData.cellHeight * this.mapData.cellWidth;
          const tilesLength = layer.tiles.length;
          if (tilesLength < tileCount) {
            for(let i = 0; i < (tileCount - tilesLength); i++) {
              layer.tiles.push({
                "state": "",
                "actions": []
              });
            }
          }
          else if (tilesLength > tileCount) {
            const difference = tilesLength - tileCount;
            layer.tiles.splice((difference * -1), difference);
          }
        }
        this.sizeMapLayers();
      },
      loadMap () {
        for (const layer of this.mapData.layers) {

          const newCanvasEle = this.createNewLayer();

          const newImg = new Image();
          newImg.onload = () => {
            const ctx = newCanvasEle.getContext("2d");

            ctx.drawImage(newImg, 0, 0);
          }
          newImg.src = `${this.mapPath}/images/${layer.bgImage}`;
        }

        this.sizeMapLayers();
      },
      async loadTileset () {
        const tilesetImg = new Image();

        tilesetImg.onload = () => {
          const contEle = document.getElementById("tile_set_container");
          contEle.style.height = "736px";

          const canvasEle = document.getElementById("tile_set");
          const canvasEleMask = document.getElementById("tile_set_mask");
          const ctx = canvasEle.getContext("2d");
          const { 0:xCells, 1:yCells } = this.selectedTileset.split("/").pop().split("_").pop().split(".").shift().split("x");

          const cellWidth = 32;
          const cellHeight = 32;
          canvasEle.width = cellWidth * xCells;
          canvasEleMask.width = cellWidth * xCells;
          canvasEle.height = cellHeight * yCells;
          canvasEleMask.height = cellHeight * yCells;

          ctx.drawImage(
            tilesetImg, 0, 0, canvasEle.width, cellWidth * yCells
          );

          this.currentTileset = {
            canvasEle,
            canvasEleMask,
            xCells,
            yCells,
            cellWidth,
            cellHeight
          };
        }
        tilesetImg.src = `${this.selectedTileset.replace('static/', '')}`;
      },
      createNewLayer () {
        const layerIndex = this.layers.length;
        const newCanvasEle = document.createElement("canvas");
        const bufferEle = document.getElementById("map_canvas_buffer");
        newCanvasEle.id = `layer_${layerIndex}`;
        newCanvasEle.classList.add("canvas-layer");
        newCanvasEle.style["background-color"] = layerIndex === 0 ? "#ffffff" : "transparent";

        document.getElementById("canvas_container").append(newCanvasEle);
        this.layers[layerIndex] = newCanvasEle;
        bufferEle.parentNode.removeChild(bufferEle);
        document.getElementById("canvas_container").append(bufferEle);

        return newCanvasEle;
      },
      addLayer () {
        this.createNewLayer();
        this.sizeMapLayers();

        const layerIndex = this.layers.length;
        const layerData = {
          "bgColor": "#000000",
          "bgImage": `layer_${layerIndex - 1}.webp`,
          "tiles": []
        };

        for(let y = 0; y < this.mapData.cellWidth; y++) {
          for(let x = 0; x < this.mapData.cellHeight; x++) {
            layerData.tiles.push({
              "state": "",
              "actions": []
            });
          }
        }

        this.mapData.layers.push(layerData);
      },
      async deleteLayer () {
        if(this.selectedLayer !== 0 && confirm("Are you sure you want to delete this layer?")) {
          await this.saveMap();
          const canvasEle = this.layers[this.selectedLayer];
          canvasEle.parentNode.removeChild(canvasEle);
          this.layers.splice(this.selectedLayer, 1);
          this.mapData.layers.splice(this.selectedLayer, 1);

          const imgName = `layer_${this.selectedLayer}.webp`;
          const httpResponse = await this.$axios({
            method: 'delete',
            url: `/api/projects/${this.$store.state.currentProject.name}/maps/${this.mapData.name}/images/${imgName}`,
          });

          this.selectedLayer--;
          await this.saveMap();
        }
      },
      selectTile (event) {
        if (this.currentTileset) {
          const { canvasEleMask, xCells, yCells } = this.currentTileset;

          const coords = this.getClickedTile(event, canvasEleMask, xCells, yCells);
          const ctx = canvasEleMask.getContext("2d");

          const cellWidth = canvasEleMask.width / xCells;
          const cellHeight = canvasEleMask.height / yCells;
          const startX = coords.x * cellWidth;
          const startY = coords.y * cellHeight;

          ctx.clearRect(0, 0, canvasEleMask.width, canvasEleMask.height);
          ctx.beginPath();
          ctx.rect(startX, startY, cellWidth, cellHeight);
          ctx.strokeStyle = "red";
          ctx.lineWidth = 4;
          ctx.stroke();

          this.currentTileset.selectedTile = coords;
        }
      },
      clearBuffer(){
        const bufferEle = document.getElementById("map_canvas_buffer");
        const ctx = bufferEle.getContext('2d');
        ctx.clearRect(0, 0, bufferEle.width, bufferEle.height);
      },
      applyTile (event) {
        try {
          if (this.currentTileset && this.currentTileset.selectedTile && this.tileMode && this.tabMode === "tiles") {
            const mapCanvasEle = this.layers[this.selectedLayer];
            const coords = this.getClickedTile(event, mapCanvasEle, this.mapData.cellWidth, this.mapData.cellHeight);
            const ctx = mapCanvasEle.getContext('2d');

            const { cellWidth, cellHeight, selectedTile } = this.currentTileset;
            const mapCellWidth = 32;
            const mapCellHeight = 32;

            const startX = coords.x - this.brushSize;
            const startY = coords.y - this.brushSize;
            const endX = coords.x + this.brushSize;
            const endY = coords.y + this.brushSize;
            const maskStartX = selectedTile.x * cellWidth;
            const maskStartY = selectedTile.y * cellHeight;

            for(let y = startY; y <= endY; y++) {
              for(let x = startX; x <= endX; x++) {
                const mapStartX = x * mapCellWidth;
                const mapStartY = y * mapCellHeight;
                if(!this.eraseMode)
                  ctx.drawImage(this.currentTileset.canvasEle, maskStartX, maskStartY, cellWidth, cellHeight, mapStartX, mapStartY, mapCellWidth, mapCellHeight);
                else
                  ctx.clearRect(mapStartX, mapStartY, mapCellWidth, mapCellHeight);
              }
            }
          }
        } catch (err) {
          console.log(err);
        }
      },
      getClickedTile (event, canvasEle, xTiles, yTiles) {
        const rect = event.currentTarget.getBoundingClientRect();
        const recX = event.clientX - rect.left;
        const recY = event.clientY - rect.top;
        const cellWidth = canvasEle.width / xTiles;
        const cellHeight = canvasEle.height / yTiles;

        const cellX = Math.floor(recX / cellWidth);
        const cellY = Math.floor(recY / cellHeight);

        return { x: cellX, y: cellY };
      },
      async saveMap () {
        const httpResponse = await this.$axios({
          method: 'put',
          url: `/api/projects/${this.$store.state.currentProject.name}/maps/${this.mapData.name}`,
          data: {
            mapData: JSON.stringify(this.mapData),
            layerImgs: this.layers.map( canvas => canvas.toDataURL('image/webp', 1) )
          }
        });
        if (httpResponse.status === 201) this.$toast.success('Map saved.');
      },
      closeMap () {
        if(confirm("Are you sure you want to close this map? Unsaved changes will be lost.")) {
          this.$router.push("/");
        }
      },
      showPathingOnBuffer () {
        this.clearBuffer();
        const ctx = document.getElementById("map_canvas_buffer").getContext('2d');

        for(let i in this.mapData.layers[this.selectedLayer].tiles) {
          const tileData = this.mapData.layers[this.selectedLayer].tiles[i];
          const y = Math.floor(i / this.mapData.cellWidth);
          const x =  i - (y * this.mapData.cellWidth);
          const mapStartX = x * 32;
          const mapStartY = y * 32;

          switch (tileData.state) {
            case "solid":
              ctx.fillStyle = "#FF0000";
              break;
            case "cover":
              ctx.fillStyle = "#FF00FF";
              break;
            default:
              ctx.fillStyle = "#FFFFFF";
          }

          ctx.globalAlpha = 0.5;
          ctx.fillRect(mapStartX,mapStartY,32,32);
          ctx.globalAlpha = 1.0;
        }
      },
      applyPath () {
        if (this.tileMode && this.tabMode === "paths") {
          const bufferEle = document.getElementById("map_canvas_buffer");
          const coords = this.getClickedTile(event, bufferEle, this.mapData.cellWidth, this.mapData.cellHeight);
          const startX = coords.x - this.brushSizePath;
          const startY = coords.y - this.brushSizePath;
          const endX = coords.x + this.brushSizePath;
          const endY = coords.y + this.brushSizePath;

          for(let y = startY; y <= endY; y++) {
            for(let x = startX; x <= endX; x++) {
              const index = (y * this.mapData.cellWidth) + x;
              if (this.mapData.layers[this.selectedLayer].tiles[index]) {
                this.mapData.layers[this.selectedLayer].tiles[index].state = this.pathType;
              }
            }
          }

          this.showPathingOnBuffer();
        }
      }
    }
  };
</script>

<style>
  .canvas-layer {
    position: absolute !important;
    top: 0px;
    left: 0px;
  }
</style>
